
.employee-modal-container {
    position: fixed;
    top: 62.2%;
    left: 50%;
    transform: translate(-50%, -70%);
    background-color: white;
    width: 400px;
    height: 535px;
    padding: 10px;    
    z-index: 1000;       
    background-size: contain;
    border-radius: 5px;
    border-style: solid; 
    border-color: black;
    
    -webkit-box-shadow: 0px 4px 20px 0px rgb(255, 255, 255);
    -moz-box-shadow: 0px 4px 20px 0px rgba(255, 255, 255, 0.15);
         box-shadow: 0px 4px 20px 0px rgba(182, 182, 182, 0.575);
}

.employee-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .1);
    z-index: 1000;
}

/* display */

.display-text {
    padding: 10px;    
}

.employee-close-button {
    margin: 5px;
    margin-bottom: 11px;
    background-color: rgb(192, 192, 192);
    border-radius: 50%;
    width: 32px;
    height: 32px;
}

.employee-close-button:hover {
    background-color: rgb(110, 110, 110);
}
