.paper-container {   
    display: grid;
    grid-template-columns: repeat(16, 200px [row-start]);
    margin-bottom: 10px;
    
}

.form-container {
    background-color: rgb(130 164 169 / 42%);  
    width: 183.6vw;
    display: grid;
    grid-template-columns: repeat(16, 200px [row-start]);
    
}
.add-button {
  
    width: 100px;
    background-color: rgb(207, 207, 207);
    
    border: rgb(102, 102, 102) solid 2px;
    border-radius: 5px;
    margin: 20px;
}


.add-button:hover {
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    
}

.text-box {
    padding-top: 10px;
   
}
