
.page-container {
    
    height: 100vh;
    width: 100vw;
    background-color: rgb(65, 65, 65);
    display: flex;
    align-items: center;
    
    
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background:rgb(48, 48, 48);
    border: 7px solid black;
}

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(rgb(167, 167, 167), rgb(117, 117, 117));
    border-radius: 25px;
}


.main-menu-background {    
    height: 100vh;
    width: 100vw;
    background-color: rgb(65, 65, 65);
    display: flex;
    align-items: center;
    
}

