

.charactersheet-btn-container {      
   max-width: 414px;
   min-height: 100vh;
   z-index: 10001;
   position: static;
   left: 0;
   right: 0;
   bottom: 0;
   
}


.stance-container {
   background-color: rgb(56, 56, 56);   
   height: 5px;
   width: 100vw;
   
}



.stance-btn-container {
    display: flex;
    justify-content: center;    
    position: relative;
    bottom: 110px;
   
    background-color: transparent;
    
    padding-bottom: 10px;
}

.stance-btn {  
    display: flex;
    justify-content: space-around;
    align-items:  center;
   
    border-radius: 50%;
    height: 64px;
    width: 64px;
    margin: 20px; 
    font-size: 0.7em;
    background-color: antiquewhite;   
    
}
.stance-btn:hover {  

   border-style: solid;
   border-width: 1px;
   background-color: rgb(101, 255, 255);  
   
}