

.stock-card-header {
    position: relative;
    top: 100px;
    display: grid;  
    background-color: white;
  
   
}




.stock-title {
    margin: 20px;
    font-size: 0.9em;
    width: 300px;
}


.stock-info-container {
    display: grid;
    grid-template-columns: repeat(15, 200px [row-start]);
    margin-right: 100px;    
    background-color: rgb(130 164 169 / 42%);  
    width: 3000px;
    border-top: black solid 1px;
    border-bottom: black solid 1px;
    
    
}

.stock-info-container:hover {
    background-color: rgb(250, 250, 250);  
}

.stock-info-item {
    padding: 10px;  
    width: 190px;  
    display: flex;
    flex-direction: column;
    font-size: 0.9em;
    
} 




.master-edit-button {
    position: relative;
    left: 20px;
    border-top: black solid 1px;
    border-bottom: black solid 1px;
    color: black;
    background-color: rgb(211, 211, 211);
    font-size: 1.2em;
    width: 100px;
    margin-top: 10px;
}

.master-edit-button:hover {
    background-color: rgb(255, 255, 255);
}

.title-container {
    width: 97vw; 
}



.master-container {   

    height: 75vh; 
    width: 97vw;     
    overflow-x: auto;
    margin-bottom: 10px;
   
    
}

.master-card-container {
    display: grid;
    grid-template-columns: repeat(15, 200px [row-start]);       
    padding-left: 205px;       
    background-color: rgb(130 164 169 / 42%);  
    width: 3000px;
    border-top: black solid 1px;
    border-bottom: black solid 1px;

}










