.master-card-wrapper {
    padding: 25px;
}

.card-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: flex-start;
    height: 100%;     
    overflow: auto;
    margin-bottom: 200px;
  
}
