.master-card-wrapper {
    padding: 25px;
}

.card-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: flex-start;
    position: relative;
    top: 124px;
    height: 77vh;     
    overflow: auto;
    margin-bottom: 268px;
  
}
